.navbar-inner {
    background: #663300;
    background: -moz-linear-gradient(top, #663300 0%, #663300 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #663300), color-stop(100%, #663300));
    background: -webkit-linear-gradient(top, #663300 0%, #663300 100%);
    background: -o-linear-gradient(top, #663300 0%, #663300 100%);
    background: -ms-linear-gradient(top, #663300 0%, #663300 100%);
    background: linear-gradient(to bottom, #663300 0%, #663300 100%);
}

#contextnavbar .navbar-inner {
    background: #f9be92; /* Old browsers */
    background: -moz-linear-gradient(top, #f9be92 0%, #f9be92 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9be92), color-stop(100%, #f9be92));
    background: -webkit-linear-gradient(top, #f9be92 0%, #f9be92 100%);
    background: -o-linear-gradient(top, #f9be92 0%, #f9be92 100%);
    background: -ms-linear-gradient(top, #f9be92 0%, #f9be92 100%);
    background: linear-gradient(to bottom, #f9be92 0%, #f9be92 100%);
}

.navbar .brand {
    text-shadow: none;
}

.navbar-text {
    color: #ffffff;
    text-shadow: none;
}

.navbar .nav > li > a {
    color: #ffffff;
    text-shadow: none;
}

.navbar-link {
    color: #804d1a;
}

tbody tr.odd {
    background-color: red;
}

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: #fff9ea;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #fff9ea;
}